<footer class="footer">
  <a href="https://github.com/smatthew3142/news-scraper" target="_blank">Git Repository</a>
  <br>
  <a href="https://www.npr.org/" target="_blank">Articles belong to National Public Radio</a>
</footer>